@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body{
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  /* transition: all 5s; */
}
*,*:after,*:before{
  box-sizing: border-box;
}
p{
  font-family: 'Raleway', sans-serif;
  color: #7D7D7D;
}

/* GENERAL CONTEINERS and items */
  .container-fluid,
  .row{
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
  }
  a.scrollTop.icon-double-up{
    font-size: 2em;
    color: #FD1E12;
    position: fixed;
    bottom: 16px;
    right: 16px;
    transition: .6s;
    display: none;
  }
  a.scrollTop.icon-double-up:hover{
    text-decoration: none;
    transform: translateY(-10px);
    color: #7D7D7D;
  }
/* FIN GENERAL CONTAINERS */


/* HEADER */
  .header-principal{
    border-bottom: 2.5px solid #7D7D7D;
  }
  .logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .logo img{
    max-width: 80%;
  }
  .menu-col{
    padding-right: 0;
  }
  .menu-principal{
    max-width: 100%;
    height: 100px;
  }
  .menu-principal ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }
  /* estilos links Index */
  .menu-principal ul li a,
  .link-menu-imagenes{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #252525;
    font-size: 0.9em;
    display: block;
    letter-spacing: 0.5px;
    line-height: 2em;
    padding: 0 0.6em 0 0.6em;
    text-transform: uppercase;
    transition: .6s;
  }
  .menu-principal ul li a:hover,
  .link-menu-imagenes:hover{
    text-decoration: none;
    color: #FD1E12;
  }
  .link-menu-imagenes:hover{
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* fin estilos links Index */
  .btn-burguer{
    position: fixed;
    left: 0.4em;
    top: 0.4em;
    border: none;
    font-size: 1.3em;
    display: none;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: rgba(211, 211, 223, 0.8);
    border-radius: 50%;
    z-index: 40;
  }
  .btn-burguer:focus{
    outline: none;
  }
/* FIN HEADER */

/* MAIN */
  .menu-imagenes-index{
    margin-top: 2em;
    text-align: center;
    align-items: flex-end;
  }
  .menu-imagenes-index img{
    max-width: 100%;
    transition: 0.3s;
  }
  .menu-imagenes-index a{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  .link-menu-imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .linear-title{
    margin: 2em 0; 
    text-align: center;
    position: relative;
    overflow: hidden;
    font-size: 1.3em;
    color: #252525;
    font-family: 'Raleway', sans-serif;

  }
  .linear-title span{
    background-color: #fff;
    padding: 0 1em;
  }
  .linear-title:after,
  .linear-title:before{
    content: "";
    position: absolute;
    height: 0.5px;
    width: 500px;
    background-color: #252525;
    top: 50%;
    z-index: -1;
  }
  .linear-title:after{
    left: 10px;
  }
  .linear-title:before{
    right:10px;
  }
/* Section Form-Sucursales */
.section-index{
  padding: 2em 0;
}
.section-index h2{
    font-size: 1.2em;
    text-align: left;
    line-height: 2;
    width: 90%;
    letter-spacing: 0.5px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

/* FORMULARIO */
  .col-section-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col-section-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
  }
  .col-section-form form input,
  .col-section-form form textarea{
    margin: 0.5em 0;
    padding: 0.5em 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #7D7D7D;
  }
  .col-section-form form input{
    width: 90%;
  }
  .col-section-form form textarea{
    max-height: 200px;
    width: 90%;
  }
   .col-section-form form textarea::placeholder{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    color: #252525;
  }
  .col-section-form form textarea:focus::placeholder{
    color: #FD1E12;
    font-size: 14px;
  }
  .col-section-form form .inputbox{
    position: relative;
    width: 100%;
  }
  .col-section-form form .inputbox label{
    position: absolute;
    bottom:0;
    left: 0;
    pointer-events: none;
    transition: .5s;
  }
  .col-section-form form .inputbox input:focus ~ label,
  .col-section-form form .inputbox input:valid ~ label{
    top: -5px;
    left: 0;
    font-size: 14px;
    color: #FD1E12;
    transition: 0.5s;
  }
  .col-section-form form input:focus,
  .col-section-form form textarea:focus{
    outline: none;
    border-bottom: 1px solid #FD1E12;
  }
  .col-section-form form a{
    padding: 0.5em 0;
    margin: 0.5em 0;
    display: block;
    width: 100px;
    text-align: center;
    color: #252525;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    letter-spacing: 2px;
    position: relative;
    transition: .5s;
  }
  .col-section-form form a:hover{
    text-decoration: none;
    color: #FD1E12;
  }
  .col-section-form form a span{
    position: absolute;
    transition: transform .5s;
  }
  /* 1 - 3 */
  .col-section-form form a span:nth-child(1){
    width: 100%;
    height: 0.8px;
    background-color: #7D7D7D;
  }
  .col-section-form form a span:nth-child(3){
    width: 100%;
    height: 1px;
    background-color: #7D7D7D;
  }
  /* 1 */
  .col-section-form form a span:nth-child(1){
    top: 0;
    left: 0;
    transform-origin: right;
  }
  .col-section-form form a:hover span:nth-child(1){
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
    background-color: #FD1E12;
  }
  /* 3 */
  .col-section-form form a span:nth-child(3){
    bottom: 0;
    left: 0;
    transform-origin: left;
  }
  .col-section-form form a:hover span:nth-child(3){
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
    background-color: #FD1E12;
  }
  /* 2 - 4 */
  .col-section-form form a span:nth-child(2),
  .col-section-form form a span:nth-child(4){
    width: 1px;
    height: 100%;
    background-color: #7D7D7D;
  }
  /* 2 */
  .col-section-form form a span:nth-child(2){
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
  }
  .col-section-form form a:hover span:nth-child(2){
    top: 0;
    left: 0;
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
    background-color: #FD1E12;
  }
  /* 4 */
  .col-section-form form a span:nth-child(4){
    bottom: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
  }
  .col-section-form form a:hover span:nth-child(4){
    bottom: 0;
    right: 0;
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
    background-color: #FD1E12;
  }
  /* Mapa Contacto.html */
  .mapa-contacto{
    max-width: 90%;
    height: auto;
    min-height: 250px;
    text-align: center;
    display: block;
    margin: 1em auto;
    overflow: hidden;
  }
  /* Fin Mapa Contacto.html */
/* FIN FORMULARIO */
/* SUCURSALES */
.col-sucursales{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2px;
}
.sub-title-sucursales{
  font-weight: bold;
}
.sub-title-sucursales,
.sucursal-item .icon-location,
.icon-phone{
  color:#7D7D7D;
}
.icon-location{
  margin-bottom: 0;
}
.icon-phone a{
  color: black;
  text-decoration: none;
  transition: .5s;
}
.icon-phone a:hover{
  color: #FD1E12;
  font-weight: bold;
}
/* FIN SUCURSALES */
/* Fin Section Form-Sucursales */
/* Swiper Slide Marcas */
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 200px;
  }
  .swiper-slide img{
    width:70%;
  }
  .swiper-pagination-bullet-active{
    background-color: #FD1E12;
  }
/* Fin Swiper Slide Marcas */

  /* SERVICIOS.HTML */
  .servicios-p{
    line-height: 1.7;
    letter-spacing: 0.5px;
  }
  .servicios-p span{
    background-image: url(../images/favicon.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 3px;
  }
  .col-servicios-text h2{
    font-weight: 600;
  }
  .col-servicios-slide{
    margin-top: 2em;
  }
  .col-servicios-slide img{
    border-radius: 0.5em;
  }

  /*FIN SERVICIOS.HTML */
  /* REPUESTOS.HTML */
    .repuestos{
      margin-top: 4rem;
      position: relative;
      font-family: 'Raleway', sans-serif;
    }
    .repuestos img{
      max-width: 100%;
      border-radius: 6px;
    }
    .nav-repuestos{
      padding: 0;
      position: sticky;
      
    }
    .repuestos-link{
      height:3rem;
      border: 2px solid rgba(125,125,125,0.5);
      border-bottom: none;
      line-height: 3rem;
      text-align: left;
      padding-left: 0.5rem;
      border-right:none;
      font-family: 'Raleway', sans-serif;
    }
    .repuestos-link:hover{
      background-color:#EBEBEB;
    }
    .repuestos-link a{
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      color: #5e5e5e;
      font-size: 0.9rem;
    }
    .repuestos-link a:hover,
    .text-link a:hover{
      color: #FD1E12;
      font-weight: 600;
      text-decoration: none;
    }
    .repuestos-link:nth-child(4){
      border-bottom: 2px solid rgba(125,125,125,0.5);
    }

    .repuestos h5{
      margin-bottom: 0.8rem;
      font-weight: 600;
      overflow: hidden;
    }
    .repuestos h6{
      font-weight: 600;
    }
    .repuestos h5 span{
      color: #FD1E12;
      font-size: 1.4em;
    }
    .content-repuestos{
      height: auto;
      border: 2px solid rgba(125,125,125,0.5);
      padding: 0;
    }
    .content-text{
      padding-left: 1rem;
      padding-top: 1.5rem;
    }
    .text-repuestos span{
      background-image: url(../images/favicon.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 3px;
    }
    .text-link a{
      color: #5e5e5e;
      font-family: 'Raleway', sans-serif;
      font-size: 0.9em;
    }
    .text-link span{
      color: #FD1E12;
    }
    .btn-repuestos{
      color: #252525;
      border: 1.5px solid;
      text-decoration: none;
      padding: 0.5em;
      display: block;
      max-width: 150px;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      letter-spacing: 1px;
      border-radius: 5px;
      margin-bottom: 1em;
    }
    .btn-repuestos:hover{
      text-decoration: none;
      color: #FD1E12;
      font-weight: 600;
    }

    .r-wacker, .r-aliafor, .r-donaldson, .r-ipd{
      display: none;
    }
    .is-active{
      display: block;
}
  /* FIN REPUESTOS.HTML */
  /* FRANQUICIAS.HTML */
    .franquicias{
      font-family: 'Raleway', sans-serif;
    }
    .row-franquicias{
      margin-bottom: 5em;
    }
    .franquicias .row{
      margin-bottom: 4em;
    }
    .title-franquicias{
      font-weight: 600;
      font-size: 1.5em;
      position: relative;
      overflow: hidden;
      width: 100%;
      text-align: center;
      color: #252525;
      margin-bottom: 1.5em;
    }
    .title-franquicias.low{
      font-size: 1.2em;
    }
    .title-franquicias span{
      padding: 0  1em;
      overflow: hidden;
      background-color: #fff;
    }
    .title-franquicias:before,
    .title-franquicias:after{
      content: "";
      height: 0.5px;
      width: 90%;
      background-color: #dadada;
      position: absolute;
      top: 50%;
      z-index: -1;
    }
    .title-franquicias:before{
      left: 10%;
    }
    .title-franquicias:after{
      right: 10%;
    }
    .text-franquicias span{
      background-image: url(../images/favicon.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: 3px;
    }
    .box-franquicias{
      width: 100%;
      position: relative;
      height: 100%;
      overflow: hidden;
      text-align: center;
      border-bottom: 3px solid #FD1E12;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-sizing: border-box;
      padding-bottom: 2em;
    }
    .box-franquicias h6{
      font-weight: 600;
    }
    .box-franquicias a{
      padding: 0.7em;
      color: #252525;
      font-weight: 600;
      border: 1.5px solid #FD1E12;
      transition: .5s;
    }
    .box-franquicias a:hover{
      text-decoration: none;
      background-color: #FD1E12;
      color: #fff;
    }
  /* FIN FRANQUICIAS.HTML */
  /* 404.HTML */
    .col-404{
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .col-404 h2{
      font-size: 3em;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    .col-404 h4{
      font-size: 2em;
      margin-bottom: 1em;
    }
    .col-404 a{
      display: block;
      padding: 0.5em  1em;
      font-size: 1.5em;
      line-height: 1.5;
      text-decoration: none;
      color: #252525;
      font-weight: 600;
      border: 1.5px solid;
      max-width: 200px;
      transition: .5s;
    }
    .col-404 a:hover{
      color: #fff;
      background-color: #FD1E12;
    }
  /*FIN 404.HTML */
/* breadcrumb */
.breadcrumb-item a{
  color: #252525;
}
.breadcrumb-item.active{
  color: #FD1E12;
  font-weight: 600;
}
.breadcrumb-item a:hover{
  text-decoration: none;
  color: #FD1E12;
}
/* breadcrumb */
  /* ASIDE MENU */
  /* aside menu */
.title-aside{
  font-size: 1.2em;
  padding: 1em 0;
  border-bottom: 2px solid #FD1E12;
}
.aside-menu{
  width: 100%;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-weight: normal;
}
.aside-menu button{
  outline: none;
}
.aside-menu button.noAcordeon a{
  width: 100%;
  display: block;
}
.acordion,
.noAcordeon{
  /* background-color: lightblue; */
  color: #252525;
  cursor: pointer;
  padding: 0.3em 0;
  width: 100%;
  text-align: left;
  border:1px solid #F1F1F1;
  transition: 0.6s;
  font-size: 1em;
  padding-left: 0.3em;
}
.acordion span{
  float: right;
  font-size: 0.7em;
  line-height: 1em;
  padding-right: 0.5em;
}
.acordion:focus{
  background-color: #FD1E12;
  color: #fff;
}
.acordion:hover,
.noAcordeon:hover{
  background-color: #FD1E12;
  border-color: #FD1E12;
  color: #FFF;
}
.noAcordeon a, .panel a{
  /* padding-left: 1em; */
  color: #252525;
  font-weight: normal;
  
}
.noAcordeon a:hover, 
.panel a:hover{
  color: #fff;
  text-decoration: none;
}
.panel a:hover{
  background-color: #FD1E12;
}
.panel{
  width: 100%;
  background-color: #F1F1F1;
  display:none;
}
.panel a{
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
  font-size: 1em;
  padding-left: 0.3em;
}
.active{
  display:block;
}

/* fin aside menu */
  /* FIN ASIDE MENU */

  /* PAGINA PRODUCTOS DESCRIPCION */
  
    #carouselProductos{
      box-shadow: 0 10px 10px -5px #7D7D7D;
      margin-top: 50px;
    }
    .col-description-producto{
      padding: 0;
    }
    .col-description-producto h2{
      font-size: 1.5em;
      margin-top: 50px;
    }
    .col-description-producto h2 span{
      color: #FD1E12;
      font-size: 1.2em;
    }
    .container-links{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: auto;
      margin: 1em 0;
      box-sizing: border-box;
    }
    .container-links .btn-producto{
      color: #252525;
      padding: 0.5em;
      border: 1.5px solid;
      border-radius: 5px;
      text-align: center;
      font-size: 1em;
      line-height: 1.1;
      transition: .5s;
      box-sizing: border-box;
    }
    .container-links .btn-producto{
      text-decoration: none;
      color: #FFF;
    }
    .container-links .btn-producto:nth-child(1){
      background: linear-gradient(#7CA759, #64973A);
    }
    .container-links .btn-producto:hover:nth-child(1){
      background: linear-gradient(rgb(119, 167, 79), rgb(73, 118, 37));
    }
    .container-links .btn-producto:nth-child(2){
      background: linear-gradient(#FF6A5E, #FF5041);
    }
    .container-links .btn-producto:hover:nth-child(2){
      background: linear-gradient(rgb(225, 99, 90), rgb(230, 63, 48));
    }
    .container-links .btn-producto:nth-child(3),
    .container-links .btn-producto:nth-child(4){
      background-color: #7D7D7D;
    }
    .container-links .btn-producto:hover:nth-child(3),
    .container-links .btn-producto:hover:nth-child(4){
      background-color: rgb(138, 138, 138,0.8);
    }
    .col-description-producto h3{
      font-size: 1.2em;
      overflow: hidden;
      padding: 0.5em 0;
      width: 100%;
      position: relative;
    }
    .col-description-producto h3:before{
      content:"";
      height: 1.5px;
      background-color: #dadada;
      width: 100%;
      position: absolute;
      top: 50%;
      z-index: -1;
    }
    .col-description-producto h3 span{
      overflow: hidden;
      padding-right: 1em;
      background-color: #fff;
    }
  /*FIN PAGINA PRODUCTOS DESCRIPCION */
    /* PAGINA PRODUCTO FINAL */
        .text-product-final{
          background-image: url(../images/favicon.png);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 16px;
          height: 16px;
          display: inline-block;
          margin-right: 3px;
        }
        .col-description-producto-final{
          /* padding-left: 1em; */
        }
        /* table */
        .col-description-producto-final-table{
          padding-left: 2em;
          padding-right: 0;
        }
        .table{
          width: 100%;
          font-family: 'Raleway', sans-serif;
        }
        .table thead th{
          border: none;
          color: #252525;
          background-color: #dadada;
          padding: 0.5em;
          padding-left: 0.1em;
          font-weight: 600;
          min-width: 200px;
        }
        .table th, .table td{
          padding-top: 0.4em;
          padding-bottom: 0.1em;
          padding-left: 0.1em;
          padding-right: 0;
        }
        .table th, .table td{
          border-top: none;
          border-bottom:1px solid rgba(191,191,191,0.8);
        }
        tr td.td-2{
          text-align: right;
        }
        /* fin table */
      
    /*FIN PAGINA PRODUCTO FINAL */
/* FIN MAIN */
/* FOOTER */
.footer{
  /* background-color: #aaa; */
  border-top: 2px solid #7D7D7D;
}
.row-mapa-sitio{
  display: flex;

}
.footer h3{
  font-size: 1em;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: rgb(33, 37, 41);
  padding-top: 0.5em;
}

.footer a{
  display: block;
  color: #252525;
  transition: .5s;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.5px;
  padding: 0.3em 0;
}
.footer a:hover{
  text-decoration: none;
  color: #FD1E12;
}
.col-mapa-sitio{
  padding: 0;
  
}
.col-logo-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.col-email-footer{
  padding: 0;
}
.col-email-footer a{
  font-size: .8em;
}
.col-redes-footer{
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.col-redes-footer a{
  font-size: 1.3em;
  position: relative;
  transition:.5s;
  width: 40px;
  text-align: center;
}
.col-redes-footer a span{
  position: absolute;
  transition: transform .5s;
}
.col-redes-footer a span:nth-child(1){
    width: 100%;
    height: 0.8px;
    background-color: #7D7D7D;
}
.col-redes-footer a span:nth-child(3){
    width: 100%;
    height: 1px;
    background-color: #7D7D7D;
}
/* 1 */
.col-redes-footer a span:nth-child(1){
    top: 0;
    left: 0;
    transform-origin: right;
}
.col-redes-footer a:hover span:nth-child(1){
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
  background-color: #FD1E12;
}
/* 3 */
.col-redes-footer a span:nth-child(3){
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.col-redes-footer a:hover span:nth-child(3){
bottom: 0;
left: 0;
transform: scaleX(0);
transform-origin: right;
transition: transform .5s;
background-color: #FD1E12;
}
/* 2 - 4 */
.col-redes-footer a span:nth-child(2),
.col-redes-footer a span:nth-child(4){
    width: 1px;
    height: 100%;
    background-color: #7D7D7D;
}
/* 2 */
.col-redes-footer a span:nth-child(2){
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}
.col-redes-footer a:hover span:nth-child(2){
  top: 0;
  left: 0;
  transform: scale(1);
  transform-origin: top;
  transition: transform .5s;
  background-color: #FD1E12;
}
/* 4 */
.col-redes-footer a span:nth-child(4){
  bottom: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}
.col-redes-footer a:hover span:nth-child(4){
bottom: 0;
right: 0;
transform: scale(1);
transform-origin: bottom;
transition: transform .5s;
background-color: #FD1E12;
}
.col-box-facebook{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fb-page{
  padding-top: 0.5em;
  width: 100%;
}
.copyright h6{
  margin-top: 1em;
  width: 100%;
  font-size: 0.8em;
}
.copyright a{
  display: inline;
}

/* FIN FOOTER */

